	<div class="current_user">
		<h1><%= current_user.username %> </h1>
		<nav>
			<a href="/set">Settings</a>
			<a href="/recent">Posts</a>
			<a href="/privacy">Followers</a>
			<a href="/signout">Log Out</a>


		</nav>

	</div>

<div class = "settings">
<br>
<br>
<p> Something in Here to be able to change username </p>
<p><%= current_user.username %> </p>
<p><%=current_user.email %></p> 



<p> Something in Here to be abe to change password </p>
<br>
<br>
<p> Delete Account? </p>
</div>


