<form method="POST" action="/sign_up">
		<label for="username">Username</label>
		<input type="text" name="n_username">
		<label for="password">Password</label>
		<input type="password" name="n_password">
		<label for="email">E-mail</label>
		<input type="text" name="n_email">
		<input type="submit">
</form>