

<h1>WELCOME:  <%= current_user.username %> </h1>
<div id = "center">
	<form method="POST" action="post/create">
	<input type="textarea" name="[post]body" placeholder="Write your post here:"></input>
	<input type = "hidden" value= "<%= current_user.id%>" name = "[post]user_id">
	<input type="submit">
	</form>
</div>




