

<h1>WELCOME:  <%= current_user.username %> </h1>
<br>
<div class = "center">
	<form method="POST" action="post/create">
	<input type="textarea" name="[post]body" placeholder="Write your post here:"></input>
	<input type = "hidden" value= "<%= current_user.id%>" name = "[post]user_id">
	<input type="submit">
	</form>
</div>



<h2>Check out the recent Posts:</h2>

<% @recentPosts.each do |t| %>
	<p><%= t.body %> <span class = "red"><%=t.likes.count%></span></p>
<% end %> 



